<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="/products" mat-button>Products</a>
    <a href="/cart" mat-button>Carts</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center">
  <h1>Amaizing Animals Paintings</h1>
  <h3>Make your home a special place with out beautiful and unqiue artwork.</h3>
  <p>Explore our collection of stunning animal paintings, featuring a variety of species and styles. From majestic lions
    to graceful dolphins, our paintings bring the beauty of nature to life.</p>
</div>

<router-outlet></router-outlet>